.login-signup-form-forgot-pass {
    height: 594px;
    width: 684px;
    padding-right: 25px;
    font-family: 'Poppins';
    gap: 10px;
    margin-top: 170px;
}

.login-signup-form-forgot-pass h1{
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 0px;
}

.login-signup-form-forgot-pass p {
    color: #878A99;
    font-size: 24px; 
    font-weight: 400;
    margin-bottom: 40px;
    margin-top: 0px; 
}
